@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F9F9;
    text-align: center;
    font-size: 15px;
}

.output {
    background-color: #EBEDEF;
}

ul {
    list-style-type: none;
}
